<ion-header>
  <ion-navbar>
    <ion-title>Trip Detail</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="navigatePayment()">New Payment</button>
  <button ion-button (click)="navigatePaymentList()">Payment List</button>
  <ion-list inset>
    <ion-item *ngFor="let t of trip">
      <h2><b>Trip Name</b>: {{t.name}}</h2>
      <h2><b>Received Money</b>: {{t.receivedMoney|currency}}</h2>
      <h2><b>Spent Money</b>: {{t.spentMoney|currency}}</h2>
      <ion-list><b>{{t.capacity}} Friends</b>:
        <ion-item *ngFor="let member of t.member">
          <p><b>Friend Name</b>: {{member.name}}</p>
          <p><b>Received</b>: {{member.receivedMoney|currency}}</p>
          <p><b>Spent</b>: {{member.spentMoney|currency}}</p>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
