<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to GoWithFriends!</h2>
  <!--<button ion-button block color="secondary" (click)="listarUsuario()">Listar Usuario</button>

  <form [formGroup]="todo" (ngSubmit)="crearUsuario()" novalidate>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="Nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo.get('Nombre').errors && todo.get('Nombre').dirty">
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="Apellido"></ion-input>
    </ion-item>
    <ion-item *ngIf="todo.get('Apellido').errors && todo.get('Apellido').dirty">
    </ion-item>
    <ion-item>
      <ion-label>Indentificación</ion-label>
      <ion-input type="text" formControlName="Identificacion"></ion-input>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!todo.valid">Crear Usuario</button>
  </form>

  <ion-list>
    <ion-item-sliding *ngFor="let item of listaPersonas">
      <ion-item>
        <h2>{{item.Nombre}} - {{item.Apellido}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="delete"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>-->
  <button ion-button block color="secondary" (click)="createUser()">Create User</button>
  <button ion-button block color="secondary" (click)="getUsers(); getPayments()">Load User</button>
  <button ion-button block color="secondary" (click)="truncateUsers()">Reset User</button>
  <ion-list>
    Friends in DB:
    <ion-item-sliding *ngFor="let friend of userList">
      <ion-item>
        <h2>{{friend.friendId}} - {{friend.name}} - {{friend.phone}}</h2>
      </ion-item>
      <!--<ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon name="delete"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>-->
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    Payments in DB:
    <ion-item-sliding *ngFor="let payment of paymentList">
      <ion-item>
        <h2>{{payment.name}} - {{payment.money|currency}}</h2>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
